body { 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
}

.good {
    background-color: green;
}

.bad {
    background-color: red;
}

.okay {
    background-color: orange;
}